.vote{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    
}
.vote p{
    background-color:transparent; 
    margin-bottom: 2vw;    
}
.fa-solid{
    padding-bottom: 2vw; 
    color: #223BC9;
}
.fa-trash{
    background-color:transparent;   
}