<div class="container">
    <h4 class="text-center">Post a new Quote</h4>
    <hr >
    <form (ngSubmit)='submitGoal()'#goalForm='ngForm'>
        <div class="form-group">
  
            <label for="text">Quote</label> <br>
            <textarea class="form-control" id="quote" rows="4"[(ngModel)]="newQuote.quote" name="quote" #quote='ngModel' required></textarea>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p style="color: red;">Required</p>
              </div>       
              
        </div>

        <br>

       <div class="form-group">

            <label for="complete">Date</label> <br>
            <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel"required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                <p>Date is required</p>
              </div>
  
        </div>
         <br>
        <div class="form-group">
  
            <label for="details">Novelist</label><br>
            <input type="text"  class="form-control"[(ngModel)]="newQuote.details" name="details" #details='ngModel' id="details"required>
            <div [hidden]="details.valid || details.pristine" class="alert alert-danger">
                <p style="color: red;">Required</p>
            </div>
            
        </div>
        
        <button type="submit" class="btn btn-success">Post Quote</button>
    </form>
  </div>