h4{
    font-weight: 500;
    color:#2f7b91 ; 
}
.form-group input{
 width: 70%;
 padding: 0.5vw;
 outline: none;
 border-radius: 0.5vw;

}
.form-group label{
    font-weight: 500;
    color:#223BC9 ;
}
textarea{
 width: 75%;
 background-color:transparent;
 outline: white;

 border-radius: 0.5vw;

}
.btn{
    margin-top: 2vw;
    border-radius: 0.7vw;
    border: none;
    background-color:#223BC9 ;
    color: white;
    padding: 0.8vw;
    font-weight: 500;
    width: 30%;
    margin-left: 7vw;
    font-size: 1vw;
}

.text-center {
  color: #223BC9;
}